@import url(https://fonts.googleapis.com/css?family=Roboto);

#loginDetailsDiv
{
  position: relative;
  height: 6em;
  width: 18em;
  margin-right: auto;
  margin-left: auto;
}

#buttonDiv
{
  width: 200px;
  height: 2em;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#comboboxDiv
{
  position: relative;
  top: 7em;
  margin-left: 0em;
  margin-right: auto;
  width: 23em;
  height: 2em;
}

#helpParagraphs
{
  color: white;
  text-shadow: 1px 1px #000000;
  position: relative;
  left: 10px;
  margin-right: 5%;
}

body
{
  background-color: #9f94ba;
}

h2
{
  color: #ffffff; 
  font-family: 'Lato', sans-serif; 
  font-size: 30px; 
  font-weight: 300; 
  text-shadow: 1px 1px #000000;
  text-align: center;
}

h3
{
  color: #ffffff; 
  font-family: 'Lato', sans-serif; 
  font-size: 20px; 
  font-weight: 300; 
  text-shadow: 1px 1px #000000;
  text-align: center;
}

#topPage
{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  min-height: 7em;
  max-height: 7em;
  z-index: -1;
}

#zizoLogo
{
  position: absolute;
  left: 150px;
  top: 0px;
}

#bottomPage
{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  min-height: 7em;
  max-height: 7em;
}

#loginDiv
{
  width: 35em;
  height: 20em;
  position: relative;
  top: 15em;
  bottom: auto;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}

#loginForm
{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 35em;
  height: 100%;
}

#version
{
  color: #ffffff; 
  font-family: 'Lato', sans-serif; 
  font-size: 10px; 
  font-weight: 300; 
  text-shadow: 1px 1px #000000;
  text-align: center;
}

#versionDiv
{
  position: fixed;
  top: 50em;
  left: 2em;
}

#projectTextbox
{
  position: fixed;
  height: 25px;
  width: 12.5em;
  margin-left: 16em;
}
#projectLabel
{
  color: white;
  text-shadow: 1px 1px #000000;
  position:fixed;	
  margin-left: 6.05em;
}

#usernameTextbox
{
  position: absolute;
  height: 25px;
  margin-left: 50%;
  width: 11em;
}
#usernameLabel
{
  color: white;
  text-shadow: 1px 1px #000000;
  position: absolute;	
  margin-left: 4%;
}

#passwordTextbox
{
  position: absolute;
  height: 25px;
  width: 11em;
  margin-left: 50%;
}

#passwordLabel
{
  color: white;
  text-shadow: 1px 1px #000000;
  position: absolute;
  margin-left: 7.75%;
}

#resetButton
{
  position: absolute;
  width: 50%;
}

#submitButton
{
  position: absolute;
  margin-left: 50%;
  width: 50%;
}

.loginButtons
{
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #5C5CD7;
  padding: 4px 15px 4px 15px;
  text-decoration: none;
}

.loginButtons:hover
{
  background: #7C75D3;
  text-decoration: none;
}

#menu 
{
  position: relative;
  width: 100%;
  min-width: 100%;
  min-height: 13%;
  max-height: 45px;
  font-size: 16px;
  font-family: Tahoma, Geneva, sans-serif;
  color: #f0ffff;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 2px 3px #333333;
  background-color: #5C5CD7;
  border-radius: 8px;
  top: 6.67em;  
}



#menu ul 
{
  height: auto;
  padding: 8px 0px;
  margin: 0px;
}

#menu li 
{ 
  width: 25%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#menu a 
{
  text-decoration: none;
  color: #fffff;
  padding:8px 8px 8px 8px;
}

#menu a:hover 
{
  color: #F90;
  background-color: #FFF;
}

#registryTableDiv
{
  position: absolute;
  overflow: auto;
  height: 60%;
  top: 3em;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

table#registryTable
{
  width: 100%; 
  background-color: #f1f1c1;
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 0;
}

th 
{
  text-align: left;
  border: 1px solid black;
  background-color: #5C5CD7;
  color: #F0F2F0;
}

td
{
  border: 1px solid black;
  background-color: #B0B0EB;
}

#projectDropDown
{
  position: relative;
  margin-left: 10em;
  height: 18px;
  min-width: 20%;
  top: 2px;
}

#comboBoxLabel
{
  color: white;
  text-shadow: 1px 1px #000000;
  position: absolute;
}

#pageLayout
{
  position: relative;
  top: 7.5em; 
  width: 55%;
  height: 22em;
  max-height: 28em;
  min-height: 10em;
  bottom: auto;
  margin-left: auto;
  margin-right: auto;
  min-width: 47em;
}

#editButton
{
  position: absolute;
  height: 2em;
  width: 10%;
  margin-left: 80%;
  top: 90%
}

#deleteButton
{
  position: absolute;
  margin-left: 90%;
  width: 10%;
  height: 2em;
  top: 90%;
}

#addButton
{
  position: absolute;
  margin-left: 70%;
  width: 10%;
  height: 2em;
  top: 90%;
}

#searchButton
{
  position: absolute;
  margin-left: 1em;
  width: 35%;
  max-width: 35%;
  min-width: 35%;
}

#loggedInUserLabel
{
  color: white;
  text-shadow: 1px 1px #000000;
  position: fixed;
  margin-left: 0em;
  top: 77%;
}

a
{
  color: #f0ffff;
}

/*#################################### Popup  ############################################################*/

#blanket 
{
  background-color:#dddddd;
  opacity: 0.65;
  *background:none;
  position:absolute;
  z-index: 9001;
  top:0px;
  left:0px;
  width:100%;
}

#popUpDiv 
{
  position:absolute;
  background-color:#FFFFF0;
  width:460px;
  height:245px;
  border:2px solid #000;
  z-index: 9002;
}

#tick
{
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

#popupTitle
{
  color: #575757;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  text-transform: none;
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 60px;
  display: block;
}

#popupParagraph
{
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  position: relative;
  float: none;
  margin: 0;
  padding: 0;
  line-height: normal;
}

.popupButtons
{
  color: #fff;
  border: 0;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 32px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #27a155;
}

.popupButtons:hover
{
  background: #7AB97A;
  text-decoration: none;
}

.dismissButton
{
  color: #fff;
  border: 0;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 32px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #C03030;
}

.dismissButton:hover
{
  background: #CE5E5E;
  text-decoration: none;
}
